@import url('https://fonts.googleapis.com/css2?family=Keania+One&display=swap');

body {
  background-image: linear-gradient(#010165 0%, #FFF 100%);
  background-repeat: no-repeat;
  margin: 0px;
  font-family: 'Keania One', cursive;
  font-size: 10px;
}

header {
    background-image: linear-gradient(20deg, #813CEF 0%, #FFF 50%, #813CEF 100%);
    width: 40%;
    min-width: 200px;
    margin: 10px auto;
    text-align: center;
    border: 1px solid #813CEF;
    border-radius: 25px;
}

.tile-row {
    margin: {
        top: 42px;
        bottom: 21px
    };
    text-align: center;

    img {
        width: 25px;
        padding: 0 25px;
        transition: transform 10s;
        &:hover {
            transform: rotate(360deg)
        }
    }

    .instructions-title {
        display: inline;
        font-size: 1.8rem;
        letter-spacing: 2px;
        color: #FFF;
    }
}

.instructions-row {
    margin: 0 auto;
    width: 400px;
    color: #FFF;
    .instructions-number {
        padding-right: 25px;
        font-size: 3.6rem;
    }
    .instructions-text {
        padding: 10px;
        font-size: 1.4rem;  
    }
}

#door-row {
    text-align: center;
    .door-frame {
        cursor: pointer;
        padding: 10px;
        border-radius: 25px 0 25px 0;
        transition: transform 0.8s;

        &:hover {
            transform: scale(1.1);
        }
    }
}

.start-row {
    margin: auto;
    width: 120px;
    height: 43px;
    padding-top: 18px;
    font-size: 1.8rem;
    text-align: center;
    color: #010165;
    margin-bottom: 21px;
    cursor: pointer;
}